Source: wxbriscola
Maintainer: Giulio Sorrentino <gsorre84@gmail.com>
Build-Depends: libwxgtk3.0-gtk3-dev, meson, ninja-build
Standards-Version: 1.0
Section: games

Package: wxbriscola
Priority: extra  
Architecture: arm64 amd64 armhf i386
Depends: ${shlibs:Depends}, ${misc:Depends}  
Description: Simulatore del gioco della briscola a 2 giocatori.
 Non è (ancora) previsto il multiplayer

Package: wxbriscola-mazzi-hd-belle-epoque
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-belle-epoque
Replaces: wxbriscola-mazzi-belle-epoque
Description: Mazzo belle epoque per la wxBriscola e la JBriscola


Package: wxbriscola-mazzi-hd-bergamasco
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-bergamasco
Replaces: wxbriscola-mazzi-bergamasco
Description: Mazzo bergamasco per la wxBriscola e la JBriscola
 Mazzo bergamasco per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-binario
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-binario
Description: Mazzo binario per la wxBriscola e la JBriscola
 Mazzo binario per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-bolognese
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-bolognese
Replaces: wxbriscola-mazzi-bolognese
Description: Mazzo bolognese per la wxBriscola e la JBriscola
 Mazzo bolognese per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-bresciano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-bresciano
Replaces: wxbriscola-mazzi-bresciano
Description: Mazzo bresciano per la wxBriscola e la JBriscola
 Mazzo bresciano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-dr-francy
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-dr-fancy
Description: Primo mazzo interamente self made per la wxBriscola e la JBriscola.
 In onore di Francesca Neri 
 .

Package: wxbriscola-mazzi-hd-genovese
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-genovese
Replaces: wxbriscola-mazzi-genovese
Description: Mazzo genovese per la wxBriscola e la JBriscola
 Mazzo genovese per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-lombardo
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-lombardo
Replaces: wxbriscola-mazzi-lombardo
Description: Mazzo lombardo per la wxBriscola e la JBriscola
 Mazzo lombardo per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-piacentino
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-piacentino
Replaces: wxbriscola-mazzi-piacentino
Description: Mazzo piacentino per la wxBriscola e la JBriscola
 Mazzo piacentino per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-playing-mario
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-playing-mario
Description: Mazzo di Mario Bros per la wxBriscola e la JBriscola
 Mazzo di Mario Bros per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-poker-pinup
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-poker-pinup
Description: Mazzo di belle donne mezze ignude per la wxBriscola e la JBriscola
 Mazzo di belle donne mezze ignude per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-romagnolo
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-romagnolo
Replaces: wxbriscola-mazzi-romagnolo
Description: Mazzo romagnolo per la wxBriscola e la JBriscola
 Mazzo romagnolo per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-sardo
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-sardo
Replaces: wxbriscola-mazzi-sardo
Description: Mazzo sardo per la wxBriscola e la JBriscola
 Mazzo sardo per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-siciliano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-siciliano
Replaces: wxbriscola-mazzi-siciliano
Description: Mazzo siciliano per la wxBriscola e la JBriscola
 Mazzo siciliano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-toscano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-toscano
Replaces: wxbriscola-mazzi-toscano
Description: Mazzo toscano per la wxBriscola e la JBriscola
 Mazzo toscano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-trentino
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-trentino
Replaces: wxbriscola-mazzi-trentino
Description: Mazzo trentino per la wxBriscola e la JBriscola
 Mazzo trentino per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-trevigiano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-trevigiano
Replaces: wxbriscola-mazzi-trevigiano
Description: Mazzo trevigiano per la wxBriscola e la JBriscola
 Mazzo trevigiano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-triestino
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-hd-triestino
Replaces: wxbriscola-mazzi-triestino
Description: Mazzo triestino per la wxBriscola e la JBriscola
 Mazzo triestino per la wxBriscola e la JBriscola
 .

Package: wxbriscola-i18n
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola, wx3.0-i18n
Provides: wxbriscola-i18n
Description: File di traduzione linguistica per wxbriscola
 File di traduzione linguistica per wxbriscola
 .