Source: wxbriscola
Maintainer: Giulio Sorrentino <gsorre84@gmail.com>
Build-Depends: libwxgtk3.0-gtk3-dev, meson, ninja-build, debhelper
Standards-Version: 1.0
Section: games
Priority:extra

Package: wxbriscola
Priority: extra 
Provides: wxbriscola
Conflicts: wxenrico 
Architecture: arm64 amd64 armhf i386
Depends: ${shlibs:Depends}, ${misc:Depends},  wxbriscola-mazzi-4k-napoletano |  wxbriscola-mazzi-hd-napoletano  , wxbriscola-i18n
Description: Simulatore del gioco della briscola a 2 giocatori.
 Non è (ancora) previsto il multiplayer

Package: wxbriscola-mazzi-hd-belle-epoque
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-belle-epoque
Conflicts: wxbriscola-mazzi-belle-epoque, wxbriscola-mazzi-4k-belle-epoque
Description: Mazzo belle epoque per la wxBriscola e la JBriscola


Package: wxbriscola-mazzi-hd-bergamasco
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-bergamasco
Conflicts: wxbriscola-mazzi-bergamasco, wxbriscola-mazzi-4k-bergamasco
Description: Mazzo bergamasco per la wxBriscola e la JBriscola
 Mazzo bergamasco per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-binario
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-binario
Conflicts:  wxbriscola-mazzi-4k-binario
Description: Mazzo binario per la wxBriscola e la JBriscola
 Mazzo binario per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-bolognese
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-bolognese
Conflicts: wxbriscola-mazzi-bolognese, wxbriscola-mazzi-4k-bolognese
Description: Mazzo bolognese per la wxBriscola e la JBriscola
 Mazzo bolognese per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-bresciano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-bresciano
Conflicts: wxbriscola-mazzi-bresciano, wxbriscola-mazzi-4k-bresciano
Description: Mazzo bresciano per la wxBriscola e la JBriscola
 Mazzo bresciano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-dr-francy
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-dr-fancy
Conflicts: wxbriscola-mazzi-4k-dr-francy
Description: Primo mazzo interamente self made per la wxBriscola e la JBriscola.
 Riprenditi presto Francesca San Severino 
 .

Package: wxbriscola-mazzi-hd-gatti
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-gatti
Conflicts: wxbriscola-mazzi-4k-gatti
Description: Secondo mazzo interamente self made per la wxBriscola e la JBriscola.
 Dedicato ai miei gatti: Geordi e Spot
 .

Package: wxbriscola-mazzi-hd-genovese
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-genovese
Conflicts: wxbriscola-mazzi-genovese, wxbriscola-mazzi-4k-genovese
Description: Mazzo genovese per la wxBriscola e la JBriscola
 Mazzo genovese per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-lombardo
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-lombardo
Conflicts: wxbriscola-mazzi-lombardo, wxbriscola-mazzi-4k-lombardo
Description: Mazzo lombardo per la wxBriscola e la JBriscola
 Mazzo lombardo per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-napoletano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-napoletano
Conflicts: wxbriscola-mazzi-napoletano,  wxbriscola-mazzi-4k-napoletano
Description: Mazzo napoletano per la wxBriscola e la JBriscola
 Mazzo n per la wxBriscola e la JBriscola

Package: wxbriscola-mazzi-hd-piacentino
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-piacentino
Conflicts: wxbriscola-mazzi-piacentino, wxbriscola-mazzi-4k-piacentino
Description: Mazzo piacentino per la wxBriscola e la JBriscola
 Mazzo piacentino per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-playing-mario
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-playing-mario
Conflicts: wxbriscola-mazzi-4k-playing-mario
Description: Mazzo di Mario Bros per la wxBriscola e la JBriscola
 Mazzo di Mario Bros per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-poker-pinup
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-poker-pinup
Conflicts:  wxbriscola-mazzi-4k-poker-pinup
Description: Mazzo di belle donne mezze ignude per la wxBriscola e la JBriscola
 Mazzo di belle donne mezze ignude per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-romagnolo
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-romagnolo
Conflicts: wxbriscola-mazzi-romagnolo, wxbriscola-mazzi-4k-romagnolo
Description: Mazzo romagnolo per la wxBriscola e la JBriscola
 Mazzo romagnolo per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-sardo
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-sardo
Conflicts: wxbriscola-mazzi-sardo, wxbriscola-mazzi-4k-sardo
Description: Mazzo sardo per la wxBriscola e la JBriscola
 Mazzo sardo per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-siciliano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-siciliano
Conflicts: wxbriscola-mazzi-siciliano, wxbriscola-mazzi-4k-siciliano
Description: Mazzo siciliano per la wxBriscola e la JBriscola
 Mazzo siciliano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-toscano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-toscano
Conflicts: wxbriscola-mazzi-toscano, wxbriscola-mazzi-4k-toscano
Description: Mazzo toscano per la wxBriscola e la JBriscola
 Mazzo toscano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-trentino
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-trentino
Conflicts: wxbriscola-mazzi-trentino, wxbriscola-mazzi-4k-trentino
Description: Mazzo trentino per la wxBriscola e la JBriscola
 Mazzo trentino per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-trevigiano
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-trevigiano
Conflicts: wxbriscola-mazzi-trevigiano
Description: Mazzo trevigiano per la wxBriscola e la JBriscola
 Mazzo trevigiano per la wxBriscola e la JBriscola
 .

Package: wxbriscola-mazzi-hd-triestino
Priority: optional
Section: games
Architecture: all
Depends: wxbriscola | jbriscola
Provides: wxbriscola-mazzi-triestino
Conflicts: wxbriscola-mazzi-triestino, wxbriscola-mazzi-4k-triestino
Description: Mazzo triestino per la wxBriscola e la JBriscola
 Mazzo triestino per la wxBriscola e la JBriscola
 .

Package: wxbriscola-i18n
Priority: optional
Section: games
Architecture: all
Conflicts: wxenrico-i18n
Depends: wxbriscola, wx3.0-i18n
Provides: wxbriscola-i18n
Description: File di traduzione linguistica per wxbriscola
 File di traduzione linguistica per wxbriscola
 .
