Source: wxbriscola
Maintainer: Giulio Sorrentino <gsorre84@gmail.com>
Build-Depends: libwxgtk3.0-gtk3-dev, meson, ninja-build
Standards-Version: 1.0
Section: games

Package: wxbriscola
Priority: extra  
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}  
Description: Simulatore del gioco della briscola a 2 giocatori.
 Non è (ancora) previsto il multiplayer

